/* Fichier CSS à personnaliser */

body{
	font-family:large;
	font-size: 15px;
	text-align: left;
	background: linear-gradient(blue,white, red )
	
	}

h1,h2,h3,h6{
	font-weight: large;
	color: black;
	font-family: 'Arial'
	
	
}


h4,h5{
    text-transform: uppercase;
	color: black;
	font-family:'Verdana'
}



}

h6{
   font-weight: large;
   color: black;
   font-family: 'Arial'
}

p {
    text-indent: 20px;
    letter-spacing: 1px;
	font-family:'Arial'
}
img{
	width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto }
a {
    text-decoration: none;
    color: #0000FF;
}